@import '../../../styles/custom.scss';

.form {
  margin: 0;
  padding: 0;

  @include media-breakpoint-up(lg) {
    margin: var(--spacing-xl) 0 var(--spacing-l) 0;
  }
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.formRow {
  margin: var(--spacing-s) 0 0 0;

  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.input {
  width: 100%;
  border-radius: var(--br-m);
  border: solid 1px var(--grey-600);
  padding: 12px var(--spacing-s) 12px var(--spacing-s);
  margin: 0 0 var(--spacing-xs) 0;
  font-size: 1rem;
  font-family: var(--ff-plex);

  &:focus {
    outline: none;
    border: solid 1px var(--grey-900);
  }

  @include media-breakpoint-up(lg) {
    padding: 12px var(--spacing-s);
    margin: 0;
    width: 320px;
    max-width: 320px;
    height: 61px;
  }
}

.button {
  font-size: 1.25rem;
  color: var(--bw-white);
  background-color: var(--grey-800);
  border-radius: var(--br-m);
  border: solid 1px var(--grey-700);
  padding: 10px var(--spacing-m);
  display: block;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: auto;
    display: inline-block;
    padding: 12px var(--spacing-m);
    border-radius: 0 var(--br-m) var(--br-m) 0;
    margin-left: -8px;
  }

  @include media-breakpoint-up(xl) {
    padding: 12px var(--spacing-l);

  }
}

.honeypot {
  position: absolute;
  left: -5000px;
}
