@import '../../../styles/custom.scss';

.wrapper {
  margin: 0;
  border-radius: var(--br-m);
  border: 1px solid var(--grey-800);
  padding: var(--spacing-xs);

  background: var(--grey-900) url('/images/developer/mailart@2x.jpg') 100% 50% no-repeat;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    margin: var(--spacing-xl) auto;
    max-width: 1120px;
    padding: 0;
    background-size: contain;
    border-radius: var(--br-m);
    overflow: hidden;
  }
}

.content {
  padding: var(--spacing-s);
  background: var(--grey-900);
  color: var(--bw-white);
  border-radius: var(--br-m) 0px 0px;

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-xl);
    max-width: 60%;
  }

  p {
    @include media-breakpoint-up(lg) {
      max-width: 460px;
    }
  }
}

.headline {
  margin: 0 0 var(--spacing-s) 0;
}

