@import '../../../styles/custom.scss';

.button {
  border-radius: var(--br-m);
  background: var(--primary-500);
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: var(--spacing-xs) var(--spacing-m);
  border: none;
  outline: none;
  font-size: var(--fs-text-lg);
  color: var(--bw-white);
  font-weight: var(--fw-semibold);

  @include media-breakpoint-up(md) {
    display: inline-block;
    width: auto;
    padding: 14px var(--spacing-l);
    max-width: fit-content;
  }

  &:link, &:visited {
    color: var(--bw-white);
  }

  &:focus, &:active {
    outline: none;
    border: none;
  }
}

.buttonPrimary {
  font-size: var(--fs-text-xl);
  background: var(--primary-500);

  &:hover, &:focus {
    background: var(--primary-400);
  }

  &:active {
    background: var(--primary-600);
  }
}

.buttonPrimarySmall {
  font-size: var(--fs-text-m);
  background: var(--primary-500);
  display: inline-block;
  width: auto;

  &:hover, &:focus {
    background: var(--primary-400);
  }

  &:active {
    background: var(--primary-600);
  }

  padding: var(--spacing-xs) var(--spacing-m);

  @include media-breakpoint-up(md) {
    padding: var(--spacing-xs) var(--spacing-m);
  }
}

.buttonWhite {
  background: var(--bw-white);
  color: var(--grey-900);
  font-weight: var(--fw-semibold);

  &:hover, &:focus {
    background: var(--grey-200);
  }

  &:active {
    background: var(--grey-400);
  }

  svg {
    fill: var(--grey-900);
    margin-left: var(--spacing-xs);
    margin-top: -5px;
  }
}

.buttonBlack {
  background: var(--grey-800);
  color: var(--bw-white);
  font-size: 20px;
  font-weight: var(--fw-semibold);

  &:hover, &:focus {
    background: var(--grey-600);
  }

  &:active {
    background: var(--grey-900);
  }

  padding: 10px var(--spacing-m);
}

.buttonSecondary {
  border-radius: var(--br-s);
  font-size: 1rem;
  line-height: 1.5;
  background: var(--grey-800);
  padding: var(--spacing-xs) var(--spacing-m);

  &:hover, &:focus {
    background: var(--grey-600);
  }

  &:active {
    background: var(--grey-800);
  }
}

.buttonBlock {
  display: block;
  width: 100%;
}

.CTAButton {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: var(--br-m);
  background: var(--bw-white);
  color: var(--grey-900);
  font-size: 1.25rem;
  line-height: 2.2;
  font-weight: var(--fw-semibold);
  padding: 0 var(--spacing-m);

  @include media-breakpoint-up(md) {
    padding: var(--spacing-xs) var(--spacing-m);
  }

  &:link, &:visited {
    color: var(--grey-900);
  }

  &:hover, &:focus {
    background: var(--grey-200);
  }

  &:active {
    background: var(--grey-400);
  }
}

.CTAButton-normal {}

.CTAButton-large {
  min-width: 288px;
  padding: var(--spacing-xs) var(--spacing-m);
}

.CTAButtonWithArrow {
  padding-left: var(--spacing-xs);

}

.CTAButtonIcon {
  display: inline-block;
  background-color: var(--grey-900);
  margin-left: var(--spacing-s);
  line-height: 1.8;
  position: relative;
  top: 2px;

  width: 30px;
  height: 30px;
  border-radius: 30px;

  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: -2px;
  }
}

.CTAButtonIconRight {
  svg {
    position: relative;
    left: -5px;
    width: 24px;
    top: -4px;

    @include media-breakpoint-up(md) {
      left: -4px;
      top: 1px;
      width: 32px;
    }
  }
}

.CTAButtonIconDown {
  svg {
    position: relative;
    left: -5px;
    width: 24px;
    top: -4px;

    @include media-breakpoint-up(md) {
      left: -4px;
      top: 1px;
      width: 32px;
    }
  }
}
