@import '../../../styles/custom.scss';

.section {
  display: block;
}

.sectionGap-none {
  padding: var(--spacing-xs) 0;
}

.sectionGap-narrow {
  padding: var(--spacing-s) 0;
}

.sectionGap-standard {
  padding: var(--spacing-m) 0;
  margin: 0 0 var(--spacing-m) 0;

  @include media-breakpoint-up(md) {
    padding: var(--spacing-l) 0;
    margin: 0 0 var(--spacing-l) 0;
  }
}

.containerNarrow {
  margin: 0 var(--spacing-s);

  @include media-breakpoint-up(lg) {
    margin: var(--spacing-xl) auto;
    max-width: 1150px;
  }
}



.containerNormal {}
.containerWide {}
.containerFluid {
  width: 100%;
}

.backgroundBlocks {
  padding: 50px 0;

  background: url('/images/backgrounds/blocks-mobile.jpg') 50% 50% repeat-x;

  @include media-breakpoint-up(md) {
    background: url('/images/backgrounds/blocks.jpg') 50% 50% repeat-x;
    background-size: 100%;
  }
}
