@import '../../../styles/custom.scss';

.section {
  display: block;
}

.sectionGap--none {
  padding: var(--spacing-xs) 0;
}

.sectionGap--narrow {
  padding: var(--spacing-s) 0;
}

.sectionGap--standard {
  padding: var(--spacing-m) 0;
  margin: 0 0 var(--spacing-m) 0;

  @include media-breakpoint-up(md) {
    padding: var(--spacing-l) 0;
    margin: 0 0 var(--spacing-l) 0;
  }
}

.container--narrow {
  margin: 0 var(--spacing-s);

  @include media-breakpoint-up(lg) {
    margin: var(--spacing-xl) auto;
    max-width: 1140px;
  }
}

.container--normal {
  margin: 0;
  display: block;

  @include media-breakpoint-up(lg) {
    margin: var(--spacing-xl) auto;
    max-width: 1140px;
  }
}
.container--wide {
  margin: 0;
  display: block;
}

.container--fluid {
  margin: 0;
  width: 100%;
}

.background--blocks {
  padding: 50px 0;

  background: url('/images/backgrounds/blocks-mobile.jpg') 50% 50% repeat-x;

  @include media-breakpoint-up(md) {
    background: url('/images/backgrounds/blocks.jpg') 50% 50% repeat-x;
    background-size: 100%;
  }

}

.background--waves {
  padding: 0 0 100px 0;

  background:
    url('/images/backgrounds/wave-light.svg') 95% 100% repeat-x,
    url('/images/backgrounds/wave-dark.svg') 60% 70% repeat-x;

  @include media-breakpoint-up(md) {
    background:
      url('/images/backgrounds/wave-light.svg') 0% 100% repeat-x,
      url('/images/backgrounds/wave-dark.svg') 50% 80% repeat-x;
  }
}

.background--waves-top {
  background:
    url('/images/backgrounds/wave-light.svg') 45% 10% repeat-x,
    url('/images/backgrounds/wave-dark.svg') 30% 18% repeat-x;
}

.background--waves-middle {
  background:
    url('/images/backgrounds/wave-light.svg') 35% 70% repeat-x,
    url('/images/backgrounds/wave-dark.svg') 70% 45% repeat-x;
}
