@import '../../../styles/custom.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey-800);
  opacity: 0.8;
}

.buttonClose {
  z-index: 101;

  display: inline-block;
  border: none;
  background-color: var(--bw-white);
  border-radius: var(--br-m);
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-s);
  line-height: 1;
  height: 44px;

  position: absolute;
  right: var(--spacing-m);
  top: var(--spacing-s);

  @include media-breakpoint-up(lg) {
    right: var(--spacing-m);
    top: var(--spacing-m);
    position: fixed;
  }

  svg {
    fill: var(--grey-800);
    margin-left: var(--spacing-m);
    position: relative;
    top: -2px;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
}

.container {
  display: flex;
  margin: auto
}

.content {
  display: block;
  padding: var(--spacing-m);

  @include media-breakpoint-up(lg) {
    padding: 0;
    max-width: 1140px;
  }
}

.cards {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.cardItem {
  margin: var(--spacing-s) 0;
  flex: 1;
  position: relative;

  @include media-breakpoint-up(lg) {
    margin: var(--spacing-m) var(--spacing-s);
  }
}
