@import '../../../../styles/custom.scss';

.container {
  max-width: 960px;
  margin: 0 auto;
}

.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    bottom: 100px;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    background: var(--grey-700);
    z-index: 1;

    @include media-breakpoint-up(lg) {
      top: 160px;
      bottom: 160px;
    }
  }
}

.timelineItem {
  margin: var(--spacing-xl) 0;
  position: relative;
  z-index: 2;

  @include media-breakpoint-up(lg) {
    margin: var(--spacing-m) 0;
    text-align: right;
    align-self: flex-start;
    width: 40%;
  }
}

.timelineItemSeparator {
  z-index: 3;
}

.timelineItemSymbol {
  display: block;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  top: -45px;
  left: calc(50% - 45px);

  @include media-breakpoint-up(lg) {
    left: auto;
    top: calc(50% - 40px);
    right: -132px;
  }
}

.timelineItemRight {
  text-align: left;

  @include media-breakpoint-up(lg) {
    align-self: flex-end;
  }

  .timelineItemSymbol {
    @include media-breakpoint-up(lg) {
      right: auto;
      left: -138px;
    }
  }
}

.iconCheckmark {
  display: inline-block;
  background: var(--secondary-500);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0 0 0px 4px rgba(0,0,0,0.2);

  svg {
    fill: var(--grey-700);
    width: 20px;
  }
}

.iconTodo {
  display: inline-block;
  background: var(--primary-500);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0 0 0px 4px rgba(0,0,0,0.2);

  svg {
    fill: var(--grey-700);
    width: 24px;
  }
}

.icon {
  display: inline-block;
  width: 72px;
  height: 72px;
}


.item {
  padding: var(--spacing-l) var(--spacing-m);
  border-radius: var(--br-m);
  border: solid 1px var(--grey-800);
  background-color: var(--grey-900);
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-m);
    text-align: inherit;
  }
}

.itemDate {
  display: inline-block;
  text-transform: uppercase;
  line-height: 2;
  font-size: 0.75rem;
  font-weight: var(--fw-semibold);
  color: var(--grey-400);
  padding: 0 0.5rem;
  border-radius: 3px;
  background-color: var(--grey-700);
}

.itemName {
  margin: var(--spacing-s) 0;
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
  color: var(--bw-white);
}

.itemContent {
  font-size: var(--fs-text-sm);
  color: var(--grey-400);

  p {
    margin: 0;
  }
}

.timelineSeparator {
  margin: var(--spacing-l) auto;
  display: inline-block;
  text-transform: uppercase;
  line-height: 2;
  font-size: 0.75rem;
  font-weight: var(--fw-semibold);
  color: var(--grey-400);
  padding: 0 0.5rem;
  border-radius: 3px;
  background-color: var(--grey-700);
  z-index: 10;
}
