@import '../../../../styles/custom.scss';

.navLink {
  display: block;
  color: var(--grey-500);
  font-weight: var(--fw-normal);
  outline: none;
  padding: 0.25rem 0;

  @include media-breakpoint-up(md) {
    margin: 0.25rem 0;
    padding: 0.5rem 0;
  }

  &:hover, &:focus {
    color: var(--bw-white);
  }
}
