@import '../../../../styles/custom.scss';

.wrapper {
  position: relative;
  overflow: hidden;
  padding: var(--spacing-l) 0;

  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

.content {
  text-align: center;

  @include media-breakpoint-up(lg) {
    max-width: 980px;;
    margin: 0 auto;
  }

  em {
    font-style: normal;
    font-weight: var(--fw-semibold);
    color: var(--primary-500);
  }
}
