@import '../../../../styles/custom.scss';

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;

  padding: 0 var(--spacing-m);
  margin: 0 calc(-1 * var(--spacing-m));
}

.listItem {
  margin: 0 0 var(--spacing-l) 0;

  @include media-breakpoint-up(md) {
    flex: 0 0 calc(50% - 2rem);
  }

  @include media-breakpoint-up(lg) {
    flex: 0 0 calc(33% - 30px);
    margin-bottom: 40px;
  }

  @include media-breakpoint-up(xl) {
    flex: 0 0 calc(33% - 50px);
    margin-bottom: 50px;
  }
}

.listItemSpecial {
  @include media-breakpoint-down(lg) {
    margin: 0 auto 2rem auto;
  }
}
