@import '../../../../styles/custom.scss';

.wrapper {
  padding: var(--spacing-xl) 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  justify-content: center;
  position: relative;

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-xxxl) 0 0;
    margin-top: -200px;
  }
}

.content {
  margin: 0;
  position: relative;
  z-index: 3;
  padding: var(--spacing-m) 12px var(--spacing-l) 12px;

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-xl) 0;

    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    margin-left: -305px;

  }
}

.icon {
  display: inline-block;
  border-radius: 100px;
  background: var(--grey-900);
  border: 6px solid var(--grey-800);
  padding: 12px;
  margin: 0 0 var(--spacing-m);

  svg {
    fill: var(--secondary-500);
  }
}

.headline {
  margin: 0 0 var(--spacing-s) 0;

  font-weight: var(--fw-semibold);
  font-size: var(--fs-headline-500--sm);
  letter-spacing: var(--ls-headline--md);

  @include media-breakpoint-up(lg) {
    font-size: var(--fs-headline-500);
    letter-spacing: var(--ls-headline--lg);
  }
}

.text {
  @include media-breakpoint-up(lg) {
    width: 550px;
    margin: 0 auto;
  }
}

.cta {
  padding: var(--spacing-xs) 0;
}

.background {
  display: none;

  @include media-breakpoint-up(lg) {
    position: relative;
    z-index: 2;
    display: block;
    width: 100vw;
    overflow: hidden;
  }
}

.backgroundInner {
  position: relative;
}

.backgroundMobileInner {
  position: relative;
}

.backgroundMobileUp {
  position: relative;
  z-index: 5;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.backgroundMobileDown {
  position: relative;
  z-index: 5;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

