@import '../../../../styles/custom.scss';

.carousel {
  position: relative;
  margin: var(--spacing-l) 12px 0 12px;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 200px;
  //   background: linear-gradient(to left, rgba(21, 21, 21, 0), var(--grey-900) 90%);
  //   z-index: 10;

  //   display: none;
  //   @include media-breakpoint-up(md) {
  //     display: block;
  //   }
  // }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 200px;
  //   background: linear-gradient(to right, rgba(21, 21, 21, 0), var(--grey-900) 90%);
  //   z-index: 10;

  //   display: none;

  //   @include media-breakpoint-up(md) {
  //     display: block;
  //   }
  // }

  [class^="swiper-pagination-bullet"] {
    background: var(--grey-200);
    width: 12px;
    height: 12px;
  }

  [class$="swiper-pagination-bullet-active"] {
    background: var(--bw-white);
    width: 12px;
    height: 12px;
  }

  [class$="swiper-wrapper"] {
    padding-bottom: 48px;
  }
 }
