@import '../../../../styles/custom.scss';

.form{
  margin: 0 0 var(--spacing-m) 0;
  padding: 0;
  border: none;

  max-width: 360px;

  @include media-breakpoint-up(md) {
    max-width: initial;
  }
}

.fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.formRow{
  display: flex;
  flex-direction: row;

  label {
    display: block;
  }
}

.input{
  height: 56px;
  padding: var(--spacing-m);
  background: transparent;
  border-radius: var(--br-m);
  border: solid 1px var(--grey-700);
  color: var(--grey-500);
  flex: 1;

  &:focus {
    border: solid 1px var(--grey-500);
    outline: none;
    color: var(--grey-400);
  }
}

.button{
  border: none;
  width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 0 var(--br-m) var(--br-m) 0;
  background-color: var(--grey-700);
  color: var(--grey-400);
  font-size: 24px;
  margin-left: -8px;
  line-height: 12px;
  cursor: pointer;
}

.honeypot {
  position: absolute;
  left: -5000px;
}
