@import '../../../../styles/custom.scss';

.box {
  margin: var(--spacing-m) 0 0 0;
  padding: var(--spacing-m) 38px;
  border-radius: var(--br-m);
  border: 1px solid var(--grey-800);
  background: rgba(21, 21, 21, 0.5);

  @include media-breakpoint-up(md) {
    padding: var(--spacing-m) var(--spacing-l);
  }
}

.headline {
  font-size: 1.625rem;
  font-weight: var(--fw-semibold);
  margin: var(--spacing-s) 0;
}

.links {
  margin: 0 0 var(--spacing-m) 0;
  padding: 0 0 var(--spacing-m) 0;
  list-style: none;
  border-bottom: solid 1px var(--grey-700);
  font-size: 1.125rem;

  &:last-child {
    border: none;
    margin: 0;
  }
}
