.oval {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: inline-block;
  background: #fff;
  margin: 0 0 var(--spacing-m) 0;

  svg {
    fill: var(--primary-500);
    position: relative;
    top: 26px;
  }
}
