@import '../../../styles/custom.scss';

.hero {
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: -4rem;

  @include media-breakpoint-up(md) {
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include media-breakpoint-up(lg) {
    margin-top: -10rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(to top, var(--grey-900), rgba(21, 21, 21, 0) 90%);
  }

  &--jobs {
    background-image: url('/images/jobs/hero-jobs-mobile.jpg');
    background-position: 50% 100%;
    @include media-breakpoint-up (md) {
      background-image: url('/images/jobs/hero-jobs.jpg');
      background-position: 50% 50%;
    }
  }

  &--partners {
    background-image: url('/images/partners/partners-bg-mobile@2x.jpg');
    background-position: 50% 100%;

    @include media-breakpoint-up(md) {
      background-image: url('/images/partners/partners-bg@2x.jpg');
      background-position: 50% 50%;
    }
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  text-align: center;
  z-index: 2;

  height: calc(85vh);

  @include media-breakpoint-up(lg) {
    height: 70vh;
    min-height: 640px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1150px;
  padding: 0 14px;

  @include media-breakpoint-up(lg) {
    padding: 120px 72px 0 72px;
  }
}

.headlineWrapper {
  max-width: 760px;

  @include media-breakpoint-up(md) {
    margin: 0 auto;
    text-align: center;
  }
}

.hero--partners {
  .headlineWrapper {
    max-width: 920px;
  }
}

.headline {
  margin: 0;
}
