@import '../../../../styles/custom.scss';

.wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.colContent {
  flex: 1 1 50%;
  order: 2;
  margin: var(--spacing-m) 0 0 0;

  @include media-breakpoint-up(lg) {
    order: 1;
    margin: 0;
    padding: var(--spacing-xl) var(--spacing-xl) 0 0;
  }
}

.colImage {
  flex: 1 1 40%;
  order: 1;
  background: url('/images/developer/blockchain-grid.png') 50% 50% no-repeat;
  background-size: cover;
  min-height: 320px;
  margin: -32px -12px 0 -12px;

  @include media-breakpoint-up(sm) {
    min-height: 360px;
  }

  @include media-breakpoint-up(md) {
    background-size: contain;
    margin: 0 0 0 86px;

  }

  @include media-breakpoint-up(lg) {
    order: 2;
    background: url('/images/developer/blockchain-grid.png') 50% 50% no-repeat;
    background-size: 90%;
  }
}
