@import '../../../../styles/custom.scss';

.card {
  border-radius: var(--br-l);
  border: solid 1px var(--grey-700);
  background-color: var(--grey-900);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardPromo {
  text-align: center;
}

.image {
  border-radius: 0.75rem 0.75rem 0 0;
  overflow: hidden;
  max-height: 168px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.body {
  flex: 1;
  padding: var(--spacing-s);

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-m);
  }
}

.title {
  font-size: 1.625rem;
  font-weight: var(--fw-semibold);
  line-height: 1.38;
  letter-spacing: -0.52px;
}

.description {
  margin: 1rem 0 0 0;
  line-height: 1.88;
  letter-spacing: -0.32px;
  color: var(--grey-300);
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-s);

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-m);
  }
}

.footerPromo {
  justify-content: center;
  margin: 0 0 var(--spacing-m) 0;
}

.members {
  font-weight: var(--fw-semibold);
  svg {
    width: 24px;
    margin: -5px 0.5rem 0 0;
  }

}

.action {
  font-weight: var(--fw-semibold);
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;

  &:link, &:visited {
    background-color: var(--grey-800);
  }

  &:hover {
    color: var(--bw-white);
    background: var(--grey-600);
  }

  &:active {
    color: var(--bw-white);
    background: var(--primary-500);
  }
}

.promoImage {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    width: 96px;
  }
}
