@import '../../../../styles/custom.scss';

.label {
  width: 100%;
}

.input {
  width: 100%;
  border-radius: var(--br-m);
  background: var(--grey-900);
  color: var(--grey-grey-500);
  border: solid 1px var(--grey-800);
  padding: 12px var(--spacing-s) 12px var(--spacing-s);
  margin: 0 0 var(--spacing-xs) 0;
  font-size: 1rem;
  font-family: var(--ff-text);

  &:focus {
    outline: none;
    border: solid 1px var(--grey-600);
  }

  @include media-breakpoint-up(lg) {
    width: 620px;
  }
}

.errorText {
    color: #ff6e66;
    margin-top: 1rem;
}
.successText {
    color: #008787;
    margin-top: 1rem;
}
