@import '../../../../styles/custom.scss';

.label {
  width: 100%;
}

.input {
  width: 100%;
  border-radius: var(--br-m);
  background: var(--grey-900);
  color: var(--grey-grey-500);
  border: solid 1px var(--grey-800);
  padding: 12px var(--spacing-s) 12px var(--spacing-s);
  margin: 0 0 var(--spacing-xs) 0;
  font-size: 1rem;
  font-family: var(--ff-text);

  &:focus {
    outline: none;
    border: solid 1px var(--grey-600);
  }

  @include media-breakpoint-up(lg) {
    width: 620px;
  }
}

.button {
  color: var(--bw-white);
  background-color: var(--grey-800);
  border-radius: var(--br-m);
  border: solid 1px var(--grey-700);
  padding: 12px var(--spacing-m);
  display: block;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: auto;
    display: inline-block;
    padding: 12px var(--spacing-m);
    border-radius: 0 var(--br-m) var(--br-m) 0;
    margin-left: -220px;
    width: 220px;
  }

  @include media-breakpoint-up(xl) {
    padding: 12px var(--spacing-l);
  }
}
.errorText {
    color: #ff6e66;
    margin-top: 1rem;
}
.successText {
    color: #008787;
    margin-top: 1rem;
}
.linkText {
    color: #ff6e66;
    text-decoration: underline;
    &:hover, &:active {
        color: lighten(#ff6e66, 10%);
    }
}
