@import '../../../../styles/custom.scss';

.wrapper {
  margin: 0 auto var(--spacing-ml) auto;
  padding: 0 var(--spacing-m);

  @include media-breakpoint-up(xl) {
    max-width: 1296px;
  }
}

.banner {
  display: block;

  padding: var(--spacing-m);
  @include media-breakpoint-up(md) {
    padding: var(--spacing-l);
  }

  margin: -16px 0 var(--spacing-ml) 0;
  border: 1px solid var(--grey-800);
  border-radius: var(--br-m);
  background: url('/images/hero/blocks-pattern.jpg') 50% 15%;
  background-size: auto 150%;

  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover, &:active {
    border-color: var(--grey-700);
    color: var(--primary-500);
    background: url('/images/hero/blocks-pattern.jpg') 50% 25%;
    background-size: auto 120%;
  }
}

.headline {
  display: block;
  font-size: var(--fs-headline-300);
  line-height: 1.25;
  margin: 0 0 var(--spacing-s) 0;
  font-weight: var(--fw-semibold);
  color: #fff;
}

.leadText {
  color: var(--primary-500);
}
