@import '../../../../../styles/custom.scss';

.slide {
  display: flex;
  flex-direction: column;

  border-radius: var(--br-m);
  border: none;
  background-color: var(--grey-900);
  margin-bottom: 12px;

  @include media-breakpoint-up(lg) {
    border: solid 1px var(--grey-800);
    flex-direction: row;
  }

}

.slideContent {
  flex: 1 0 40%;
  padding: var(--spacing-s) 0;

  order: 2;
  @include media-breakpoint-up(lg) {
    order: 1;
    padding: var(--spacing-l);
  }
}

.slideFunding {
  color: var(--primary-500);

  svg {
    fill: var(--primary-500);
    width: 28px;
    margin: -3px 0.5rem 0 0;
  }
}

.slideHeadline {
  font-weight: var(--fw-semibold);
  font-size: 2rem;
  margin: var(--spacing-m) 0 var(--spacing-xs) 0;
}

.slideSubHeadline {
  font-weight: var(--fw-semibold);
  display: block;
  margin: var(--spacing-s) 0;

}

.slideText {
  margin: var(--spacing-m);
}

.slideImage {
  flex: 1 0 60%;
  order: 1;
  border-radius: var(--br-m);

  @include media-breakpoint-up(lg) {
    order: 2;
    border-radius: 0 var(--br-m) var(--br-m) 0;
  }

  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
