@import '../../../../styles/custom.scss';

.hero {
  background: url('/images/hero/blocks-mobile.jpg') 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: -4rem;

  @include media-breakpoint-up(md) {
    margin-top: -6rem;
  }

  @include media-breakpoint-up(lg) {
    background: url('/images/hero/blocks.jpg') 100% 50%;
    background-size: cover;
    margin-top: -9rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, #151515, rgba(0,0,0, 0));
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;

  z-index: 2;

  height: calc(100vh + 4rem);

  @include media-breakpoint-up(lg) {
    text-align: center;
    height: 100vh;
    min-height: 650px;
  }
}

.headline {
  font-weight: var(--fw-bold);
  color: var(--bw-white);
  font-size: var(--fs-headline-600--sm);
  line-height: 96px;
  letter-spacing: var(--ls-text--sm);
  margin: var(--spacing-m) 0;

  @include media-breakpoint-up(lg) {
    font-size: var(--fs-headline-600--sm);
    letter-spacing: var(--ls-text--sm);
  }

  @include media-breakpoint-up(xl) {
    font-size: var(--fs-headline-600);
    line-height: 105px;
    letter-spacing: var(--ls-text--lg);
  }

  em, strong {
    color: var(--primary-500);
    font-style: normal;
  }
}

.lead {
  font-size: var(--fs-text-xxl);
  font-weight: var(--fw-normal);
  color: var(--bw-white);

  margin: var(--spacing-m) 0 0 0;

  @include media-breakpoint-up(lg) {
    max-width: 760px;
    margin: var(--spacing-m) auto 0 auto;
  }
}
