@import '../../../../styles/custom.scss';

.hero {
  background: url('/images/hero/blocks.jpg') 100% 50%;
  background-size:  cover;
  position: relative;
  z-index: 1;
  overflow: hidden;

  margin-top: -8rem;

  @include media-breakpoint-up(lg) {
    margin-top: -10rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to top, #151515, rgba(0,0,0, 0));
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  text-align: center;
  z-index: 2;

  height: calc(100vh + 6rem);

  @include media-breakpoint-up(lg) {
    height: 75vh;
    min-height: 720px;
  }
}

.headline {
  font-weight: var(--fw-bold);
  color: var(--bw-white);
  font-size: 2.875rem;
  line-height: 1.15;
  letter-spacing: var(--ls-text--sm);
  margin: var(--spacing-m) 0;

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
    line-height: 96px;
    letter-spacing: var(--ls-text--sm);
    margin: 1rem 0;
  }

  @include media-breakpoint-up(xl) {
    font-size: 6rem;
    line-height: 105px;
    letter-spacing: var(--ls-text--lg);
  }

  em, strong {
    color: var(--primary-500);
    font-style: normal;
  }
}

.lead {
  font-weight: var(--fw-normal);
  color: var(--bw-white);

  margin: var(--spacing-m) 0 var(--spacing-l) 0;

  font-size: 1.25rem;

  @include media-breakpoint-up(lg) {
    font-size: var(--fs-text-xxl);
    max-width: 760px;
    margin: var(--spacing-m) auto;
  }
}
