@import '../../../../styles/custom.scss';

.wrapper {
  text-align: center;
  max-width: 760px;
  margin: 0 var(--spacing-s);
  border: 1px solid var(--grey-500);
  padding: var(--spacing-s);
  border-radius: var(--br-s);

  background: url('/images/backgrounds/edg-logomark-bg.svg') 50% 50% no-repeat;
  background-size: 80%;

  @include media-breakpoint-up(md) {
    background: url('/images/backgrounds/edg-logomark-bg.svg') 50% 20% no-repeat;
    background-size: 520px 520px;
    margin: 0 auto;
    padding: var(--spacing-xl) var(--spacing-xxl);
  }

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-xl) var(--spacing-xxl);
  }
}

.paragraph {
  margin: var(--spacing-m) 0;
}
