@import '../../../styles/custom.scss';

.h1 {
  font-size: var(--fs-headline-400--sm);
  letter-spacing: var(--ls-headline--sm);
  font-weight: var(--fw-semibold);
  margin: 0 0 var(--spacing-s) 0;

  @include media-breakpoint-up(md) {
    font-size: var(--fs-headline-400);
    margin: 0 0 var(--spacing-m) 0;
    line-height: 1.16;
    letter-spacing: var(--ls-headline--md);
  }
}

.h2 {
  font-size: var(--fs-headline-300--sm);
  letter-spacing: var(--ls-headline--sm);
  font-weight: var(--fw-semibold);
  margin: 0 0 var(--spacing-s) 0;

  @include media-breakpoint-up(md) {
    font-size: var(--fs-headline-300);
    margin: 0 0 var(--spacing-s) 0;
    line-height: 1.16;
    letter-spacing: var(--ls-headline--md);
  }
}

.h1, .h2, .h3 {
  & em {
    font-style: normal;
    color: var(--primary-500);
  }
}

.p {
  font-size: var(--fs-text-lg);
  letter-spacing: var(--ls-text--md);
  margin: var(--spacing-s) 0;
}

.regular {}

.secondary {
  font-size: var(---fs-text-md);
}

.lead {
  font-size: var(--fs-text-lg);
}

.large {
  font-size: 1.5rem;
}

.small {
  font-size: var(--fs-text-sm);
  color: var(--grey-300);
}

.inverted {
  color: var(--grey-900);
}
