@import '../../../../styles/custom.scss';

.wrapper {
  margin: -150px 0 0 0;
  padding: var(--spacing-sm) 0;
  position: relative;

  &::before {
    content: '';
    display: block;

    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    height: 475px;
    z-index: 0;

    background:
      url('/images/backgrounds/wave-light.svg') 50% 100% repeat-x,
      url('/images/backgrounds/wave-dark.svg') 0% 0% repeat-x;
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 12px;
}

.content {
  margin-top: 200px;
  position: relative;
  z-index: 2;
}

.ctaSection {
  text-align: center;
  padding: 0;

  @include media-breakpoint-up(md) {
    padding: var(--spacing-m);
  }
}

.docList {
  padding: var(--spacing-xs) 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    padding: var(--spacing-m) 0;
    flex-direction: row;
    justify-content: center;
  }
}

.docItem {
  display: block;
  margin: var(--spacing-xs) 0;

  @include media-breakpoint-up(md) {
    padding: var(--spacing-s) 0;
    margin: 0 var(--spacing-xs);
  }
}

.docLink {
  padding: var(--spacing-s);
  border-radius: var(--br-m);
  border: solid 1px var(--grey-800);
  background-color: var(--grey-900);
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
  }

  &:hover {
    color: var(--bw-white);
    border-color: var(--grey-700);
  }
}

.docIcon {
  border-radius: 22px;
  background: var(--grey-800);
  padding: var(--spacing-xs);
  text-align: center;
  width: 80px;
  margin: 0 0 var(--spacing-xs) 0;

  svg {
    margin-top: 16px;
    width: 32px;
  }

  @include media-breakpoint-up(md) {
    margin: 0 var(--spacing-m) 0 0;
  }
}

.docIconInner {
  display: block;
  width: 64px;
  height: 64px;
  background-color: var(--grey-900);
  border-radius: 22px;
}

.docLinkHeadline {
  display: block;
  font-size: 18px;
  font-weight: var(--fw-semibold);
}

.docLinkText {
  font-size: 0.875rem;
  color: var(--grey-300);
  margin: 0;
}
