@import '../../../../styles/custom.scss';

.background {
  background: url('/images/home/token/edg-token-bg-mobile.jpg') 50% 0%;
  background-size: cover;
  padding: 0 0 var(spacing-m) 0;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-top: calc(2 * var(--spacing-xl));
    background: url('/images/home/token/edg-token-bg-tablet.jpg') 50% 100%;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    padding: 200px 0 0 0;
    background: url('/images/home/token/edg-token-bg.jpg') 50% 0%;
    background-size: cover;
    top: -100px;
    margin-bottom: -107px;
  }

  &::before {
    content: '';
    display: block;

    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 300px;
    z-index: 0;

    background-image: linear-gradient(to bottom, var(--grey-900), rgba(21, 21, 21, 0) 90%);
  }
}

.content {
  position: relative;
  z-index: 2;
}

.narrowContainer {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 12px;
}

.textContent {
  padding: var(--spacing-m) 0;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}
