@import '../../../styles/custom.scss';

.headlineSection {
  padding: var(-spacing-s) 0;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    align-items: center;
    text-align: center;
  }

  p {
    max-width: 720px;
  }
}

.center {
  align-items: center;
  text-align: center;
}
