@import '../../../../styles/custom.scss';

.socialLinks {}

.socialLink {
  margin: 0 1rem 0 0;
  opacity: 0.25;

  @include media-breakpoint-up(sm) {
    margin: 0 1.5rem 0 0;
  }

  &:hover, &:active {
    opacity: 0.5;
  }
}
