@import '../../../styles/custom.scss';

.card {
  padding: var(--spacing-l) var(--spacing-m) var(--spacing-m) var(--spacing-m);
  border-radius: var(--br-s);
  background-color: var(--grey-900);
  box-shadow: 0 2px 20px 0 rgba(21, 22, 21, 0.76);

  display: flex;
  flex-direction: column;
}

.icon {
  text-align: center;
  padding-bottom: var(--spacing-m);

  svg {
    width: 56px;
    height: 56px;
    fill: var(--primary-500);
  }
}

.content {
  text-align: center;
}

.headline {
  font-size: var(--fs-text-xxl);
  font-weight: var(--fw-semibold);
}

.text {
  color: var(--grey-300);
  font-weight: var(--fw-normal);
}

.button {
  margin-top: var(--spacing-l);

}
