@import '../../../styles/custom.scss';

.navWrapper {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.navBurger {
  display: block;
  z-index: 10;
  position: relative;

  svg {
    height: 30px;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: row;
}

.navMobile {
  flex-direction: column;
}

.navItem {
  margin: 0;
  color: var(--bw-white);
  position: relative;
  padding: var(--spacing-xs) var(--spacing-m);
  font-weight: var(--fw-normal);
  outline: none;

  @include media-breakpoint-up(lg) {
    margin: 0 var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-xs);
  }

  @include media-breakpoint-up(xl) {
    margin: 0 var(--spacing-xs);
  }

  svg {
    vertical-align: center;
    position: absolute;
    right: var(--spacing-xs);
    top: 6px;
  }

  &:hover,
  &:focus {
    color: var(--grey-400);
  }
}

.navItemSpecial,
.navItemSpecial:link,
.navItemSpecial:visited {
  margin: 0 0.5rem 0 1.5rem;
  padding: var(--spacing-xs) var(--spacing-m);
  background: var(--primary-500);
  border-radius: var(--br-m);
  text-decoration: none;
  border: none;
}

.navItemSpecial:hover {
  color: var(--bw-white);
  background: var(--grey-600);
}

.navItemSpecial:active {
  color: var(--bw-white);
  background: var(--primary-500);
}

// Overrides for mobile
.navMobile {
  padding: 1rem;

  .navItem {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.125rem;
    border-bottom: 1px solid var(--grey-800);
    text-decoration: none;
    outline: none;
    font-weight: var(--fw-semibold);

    &:active {
      color: var(--primary-500);
    }
  }

  .navItemSpecial {
    position: absolute;
    margin: 0 var(--spacing-s);
    bottom: var(--spacing-s);
    left: 0;
    text-align: center;
    display: block;
    width: calc(100% - (2 * var(--spacing-s)));
  }
}

.navOverlay {
  position: fixed;
  left: 0;
  top: 0px;
  right: 0;
  padding-top: 100px;
  height: 100vh;
  z-index: 2;
  background: var(--grey-900);
}
