@import '../../../styles/custom.scss';

.header {
  position: relative;
  z-index: 3;

  padding: 2rem 0;

  @include media-breakpoint-up(lg) {
    padding-top: 4rem;
  }
}

.logo {
  z-index: 10;

  @include media-breakpoint-up(lg) {

  }

  svg {
    height: 64px;

    @include media-breakpoint-up(lg) {
      height: 64px;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
