@import '../../../styles/custom.scss';

.navWrapper {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.navBurger {
  display: block;
  z-index: 10;
  position: relative;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: row;
}

.navMobile {
  flex-direction: column;
}

.navItem {
  margin: 0;
  color: var(--bw-white);
  position: relative;
  padding: var(--spacing-xs) var(--spacing-m);
  font-weight: var(--fw-semibold);
  outline: none;

  @include media-breakpoint-up(lg) {
    margin: 0 var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-xs);
  }

  @include media-breakpoint-up(xl) {
    margin: 0 var(--spacing-s);
  }

  svg {
    vertical-align: center;
    position: absolute;
    right: var(--spacing-xs);
    top: 6px;
  }

  &:hover, &:focus {
    color: var(--grey-400);
  }
}


.navItemSpecial,
.navItemSpecial:link,
.navItemSpecial:visited {
  margin: 0 0.5rem 0 1.5rem;
  padding: var(--spacing-xs) var(--spacing-m);
  background: var(--grey-800);
  border-radius: var(--br-m);
  text-decoration: none;
  border: none;
}

.navItemSpecial:hover {
  color: var(--bw-white);
  background: var(--grey-600);
}

.navItemSpecial:active {
  color: var(--bw-white);
  background: var(--primary-500);
}

// Overrides for mobile
.navMobile {
  padding: 1rem;

  .navItem {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.125rem;
    border-bottom: 1px solid var(--grey-800);
    text-decoration: none;
    outline: none;
    font-weight: var(--fw-semibold);

    &:active {
      color: var(--primary-500);
    }
  }

  .navDropdown {
    margin: 0;
    padding: 0rem 0;
    font-size: 1.125rem;
  }

  .navDropdown.navDropdownOpen{
    .navItem {
      width: 100%;
    }
  }

  .navDropdownLabel {
    padding: 0.5rem 0;
    display: block;
    font-weight: var(--fw-semibold);
    border-bottom: 1px solid var(--grey-800);
  }

  .navItemSpecial {
    position: absolute;
    margin: 0 var(--spacing-s);
    bottom: var(--spacing-s);
    left: 0;
    text-align: center;
    display: block;
    width: calc(100% - (2 * var(--spacing-s)));
  }

}

.navOverlay {
  position: fixed;
  left: 0;
  top: 0px;
  right: 0;
  padding-top: 100px;
  height: 100vh;
  z-index: 2;
  background: var(--grey-900);
}

.navDropdown {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color: var(--bw-white);
  cursor: pointer;
  position: relative;

  .navDropdownLabel {
    font-weight: var(--fw-semibold);
  }

  &.navDropdownOpen {
    .navDropdownLabel {
      font-weight: var(--fw-semibold);
      color: var(--grey-400);
    }

    .navDropdownBody {
      display: flex;
      flex-direction: column;
    }
  }

  @include media-breakpoint-up(lg) {
    &:hover, &.navDropdownOpen {
      .navDropdownLabel {
        color: var(--grey-400);
      }

      .navDropdownBody {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 1rem;
        margin-top: 0.5rem;
        padding: 0.25rem 0.5rem;
        background: var(--grey-650);
        border-radius: var(--br-m);
      }
    }
  }
}

.navDropdownBody {
  display: none;

  .navItem {
    width: 15rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    border-radius: var(--br-m);
    background: var(--grey-800);

    &:hover {
      color: var(--bw-white);
      background: var(--grey-600);
    }

    &:active {
      color: var(--bw-white);
      background: var(--primary-500);
    }
  }
}




