.infoBox {
  padding: var(--spacing-m);
  margin: var(--spacing-m) 0;
  font-size: var(--fs-text-xl);

  border: 1px solid var(--grey-700);
  border-radius: var(--br-m);

  pre {
    margin: 0;
    padding: 0;
  }
}
