@import '../../../../styles/custom.scss';

.assetList {
  max-width: 360px;
  display: flex;
  margin: var(--spacing-m) auto;
  padding: 0;
  list-style: none;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    max-width: inherit;
    width: 100%;
    margin: var(--spacing-m) 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.assetListItem {
  margin: 0 var(--spacing-xs) var(--spacing-m) var(--spacing-xs);
  min-width: 278px;
  max-width: 480px;

  @include media-breakpoint-up(lg) {
    flex: 1 1 0;
    max-width: initial;
  }

}

.asset {
  display: block;
}

.assetImage {
  border-radius: var(--br-m);
  border: solid 1px var(--grey-800);
  background-color: var(--grey-900);
  padding: 0;
  text-align: center;

  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    padding: var(--spacing-m) 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.assetImage-dark {
  background: var(--bw-white);
}

.assetImage-logotype {
  img {
    height: 72px;
  }
}

.assetImage-logomark {
  img {
    height: 64px;
  }
}

.assetMeta {
  padding: var(--spacing-xs) 0;
  font-weight: var(--fw-semibold);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.assetTypes {
  font-size: var(--fs-text-xs);
  text-transform: uppercase;
  color: var(--grey-500);

  a {
    margin-left: var(--spacing-xs);
  }
}
