@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/root';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/containers';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/bootstrap-utilities';

@import 'css_variables';
@import 'slick-carousel';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: var(--bw-white);
  background: var(--grey-900);
  font-size: 16px;
  line-height: 1.75;
  max-width: 100vw;

  overflow-x:hidden
}

.hasOverlay {
  overflow: hidden !important;
  max-height: 100vh !important;
  height: 100vh !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  &:link, &:visited {
    color: var(--primary-500);
  }

  &:hover, &:active {
    color: var(--primary-300);
  }
}

.link-secondary {
  text-decoration: underline;

  &:link, &:visited {
    color: var(--grey-500);
  }

  &:hover, &:active {
    color: var(--primary-300);
  }
}

