@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  appearance: none;
}

/* styles.module.css */
.message-card {
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  justify-content: first baseline;
  display: flex;
  flex-direction: column;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #d42b69;
  border-radius: 10px;
  animation: fill 5s linear forwards;
}

@keyframes fill {
  100% {
    width: 100%;
  }
}
