@import '../../../styles/custom.scss';

.headline {
  display: block;
  border-bottom: 1px solid var(--primary-500);
  margin: 0 0 var(--spacing-xs) 0;
  font-weight: var(--fw-semibold);
  font-size: 1.125rem;
}

.text {
  font-size: 0.875rem;
  color: var(--grey-400);
}

.list {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;

  @include media-breakpoint-up(lg) {
    margin: 4rem 0 4rem 0;
    flex-direction: row;
  }
}

.item {
  margin: 0 0 calc(2 * var(--spacing-xs)) 0;

  @include media-breakpoint-up(lg) {
    flex: 0 0 calc(25% - var(--spacing-m));
  }

  @include media-breakpoint-up(xl) {
    flex: 0 0 calc(25% - var(--spacing-l));
  }
}
